services:
  postgres:
    image: postgres:13
    container_name: nestjs-postgres
    ports:
      - "5433:5432"
    environment:
      POSTGRES_DB: qride
      POSTGRES_USER: local
      POSTGRES_PASSWORD: administrator
      POSTGRES_HOST_AUTH_METHOD: md5
    volumes:
      - postgres_data:/var/lib/postgresql/data
volumes:
  postgres_data:
    driver: local
